Repository socle-commun/pwa-pick-n-talk, pull requests merged in 2025-07, with the labels that each got.

#29 🌐 Refactor l10n
  .github/instructions/developer.instructions.md
  .github/instructions/instructions-manager.instructions.md
  .github/instructions/issue-template-writing.instructions.md
  .github/instructions/poc-instructions.md
  .github/instructions/specs.instructions.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  src/components/ui/LocaleSelector.test.tsx
  src/components/ui/LocaleSelector.tsx
  src/l10n/index.ts
  vite.config.ts
Labels: enhancement, consistency, stuck

#42 :globe_with_meridians: Enhance Copilot instructions with cross-platform automation
  .github/copilot-instructions.md
Labels: documentation, enhancement, instructions

#43 :memo: Add GitHub CLI documentation to Copilot instructions
  .github/copilot-instructions.md
Labels: 📚 documentation, 📋 instructions, 🔧 consistency

#36 :memo: Add Entity Designer Instructions for Zod Validation
  .github/instructions/entity-designer.instructions.md
Labels: 📚 documentation, 📋 instructions, 🗃️ database

#49 :recycle: Consolidate database models to use Zod schemas exclusively
  src/components/partials/binders/BinderCard.tsx
  src/components/partials/pictograms/PictogramCard.tsx
  src/db/index.ts
  src/db/models/Binder.ts
  src/db/models/Category.ts
  src/db/models/History.ts
  src/db/models/Pictogram.ts
  src/db/models/Setting.ts
  src/db/models/Types.ts
  src/db/models/User.ts
  src/db/models/index.ts
  src/db/models/schemas/Binder.ts
  src/db/models/schemas/Category.ts
  src/db/models/schemas/History.ts
  src/db/models/schemas/Pictogram.ts
  src/db/models/schemas/Setting.ts
  src/db/models/schemas/User.ts
  src/db/models/schemas/index.ts
  src/db/models/schemas/shared-types.ts
  src/db/models/schemas/tests/Binder.test.ts
  src/db/models/schemas/tests/Category.test.ts
  src/db/models/schemas/tests/Pictogram.test.ts
  src/db/queries/binder-queries.ts
  src/db/queries/mutations.ts
  src/db/queries/pictogram-queries.ts
  src/db/queries/updates.ts
  src/db/queries/user-queries.ts
  src/utils/state/atoms/_user.ts
Labels: 🏗️ refactor-architecture, 🤖 copilot-task, 🗃️ database, 🔄 refactor
